{{ if type == 'textarea' }}
  <textarea 
    name="{{ name }}"
    placeholder="{{ placeholder | trans }}"
    class="!appearance-none w-full min-h-100 lg:min-h-200 border border-black py-5 lg:py-10 px-10 lg:px-20 !outline-none !rounded-none placeholder:text-black/20 {{ class }}">
</textarea>
{{ else }}
<input 
  type="{{ type ?? 'text' }}"
  name="{{ name }}"
  value="{{ value }}"
  placeholder="{{ placeholder | trans }}"
  class="!appearance-none w-full border border-black py-5 lg:py-10 px-10 lg:px-20 !outline-none !rounded-none placeholder:text-black/20 {{ class }}" />
{{ /if }}

