<footer class="p-20 leading-none">
  <div class="sm:flex sm:justify-between max-w-page mx-auto">
    <div class="mb-20 sm:mb-0">
      <a 
        href="/" 
        title="Stiftung Wunderland"
        class="hover:text-scarlet transition-colors">
        Stiftung Wunderland
      </a>
    </div>
    <ul class="text-xs sm:flex md:gap-x-20 lg:gap-x-30">
      {{ nav:privacy }}
        <li>
          <a 
            href="{{ url }}" 
            class="block underline underline-offset-2 decoration-1 hover:text-scarlet transition-colors"
            target="{{ is_external ? '_blank' : '_self' }}"
            title="{{ title }}">
            {{ title }}
          </a>
        </li>
      {{ /nav:privacy }}
    </ul>
  </div>
</footer>
{{ vite src="resources/js/app.js" }}
</body>
</html>