<main role="main" class="flex-1 w-full max-w-outer mx-auto">
  {{# {{ template_content }} #}}
  <div>
    <h1 class="text-3xl">
      Stiftung Wunderland
    </h1>
    <span class="text-4xl leading-[0.9]">
      Wir schaffen und<br>erhalten Raum
    </span>
    <div class="md:columns-2 md:gap-40">
      Die Stiftung Wunderland bietet Raum für soziale, kulturelle, ökologische sowie gemeinnützige Projekte. Mit einem Fokus auf Nachhaltigkeit, Sorgfalt und Transparenz schaffen wir langfristige Lösungen, fördern Partnerschaften und ergänzen staatliche Aktivitäten. Unser Handeln basiert auf Respekt, Solidarität und Idealismus.
    </div>
  </div>
</main>
