<div class="mt-100 md:mt-200 lg:mt-0 lg:min-h-[calc(100vh_-_145px)] lg:flex lg:flex-col lg:justify-end">
  {{ if title }}
    <h1 class="relative z-20">
      <span class="relative z-20">
        {{ title }}
      </span>
      {{ partial:icons/house class="absolute z-10 top-0 2xl:-top-30 w-[24vw] max-w-[340px] h-auto left-1/2 -translate-y-1/2 -translate-x-1/2 2xl:-translate-x-[92%]" }}
    </h1>
  {{ /if }}

  {{ if byline }}
    <span class="block text-2xl text-balance leading-[0.9] relative z-20">
      {{ byline }}
    </span>
  {{ /if }}

  <div class="justify-center w-full hidden lg:flex lg:mt-20">
    <a 
      href="javascript:;"
      class="inline-flex items-center justify-center size-48 group"
      x-data
      @click="document.querySelector('[data-name=\'intro-content\']').scrollIntoView({ behavior: 'smooth' })">
      {{ partial:icons/chevron-down class="w-28 h-auto group-hover:translate-y-4 transition-transform" }}
    </a>
  </div>
</div>

<div 
  class="scroll-mt-145"
  data-name="intro-content">

  {{ if image }}
    {{ partial:media/image 
      class="w-full h-auto lg:aspect-[16/8] object-cover mt-30"
      preset="focal-16-9"
      sizes="['md', 'lg', 'xl', '2xl']"
      :image="image" }}
  {{ /if }}

  {{ if text }}
    <div class="mt-30 lg:mt-60 text-lg lg:columns-2 lg:gap-40">
      {{ text }}
    </div>
  {{ /if }}

  {{ if link }}
    <div class="mt-40 lg:mt-80 2xl:mt-120">
      <a 
        href="{{ link }}" 
        title="{{ link_text ?? 'Die Liegenschaften der Stiftung Wunderland'}}"
        class="underline underline-offset-2 lg:underline-offset-4 decoration-1 hover:text-scarlet transition-colors text-lg">
        {{ link_text }}
      </a>
    </div>
  {{ /if }}
</div>
{{#  #}}